@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  resize: none;
}
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
  font-size: 14px;
  color: #000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 16px;
  background: transparent;
  font-weight: 400;
}

/*--Header--*/
.header {
  background: url(../img/slider/bg.png) no-repeat 50% 50%;
  background-size: cover;
}

.header__content-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 22px;
}

.header__logo-link {
  margin: 165px 0 153px 0;
}

.header__logo-img {
  width: 195px;
  height: 123px;
}

.header__content {
  max-width: 754px;
  color: #fff;
  font-size: 26px;
  text-align: center;
  letter-spacing: 4.15px;
  position: relative;
  padding: 0 10px 50px;
  margin: 0 auto 230px auto;
  line-height: 40px;
}

.header__content-title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5.43px;
}

.header__content::after {
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  height: 1px;
  left: 43.67%;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.header__link-btn {
  border: 1px solid #fff;
  margin-bottom: 74px;
  color: #fff;
}

.decor__img {
  margin-bottom: 153px;
}

/*--Header end--*/

/*--Navigation--*/

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__list-nav {
  width: 422px;
  margin: 0 auto 154px;
}

.menu__link {
  color: #3c3c3c;
  text-transform: uppercase;
  margin-bottom: 154px;
}

.menu__link--active {
  color: #ada074;
}

/*--Navigation end--*/

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0px 0px 30px 0px;
}
.title:after {
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  height: 1px;
  left: 43.67%;
  background-color: #000;
  margin: 0px;
}

/*--- Начало секции about ---*/
.about__content {
  margin-bottom: 101px;
}

.about__content-title {
  margin-bottom: 73px;
}

.about__content-text {
  margin: 0 auto;
  max-width: 700px;
  color: #868585;
  font-weight: 300;
  line-height: 25.89px;
  text-align: center;
}
.about__row {
  max-width: 823px;
  display: flex;
  margin: 0 auto 95px;
}

.about__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.about__column-img {
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  margin: 0 auto 40px;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__column-title {
  text-align: center;
  font-size: 22px;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 29px;
  text-transform: uppercase;
}
.about__column-text {
  text-align: center;
  line-height: 26px;
  color: #868585;
}

/*--- Конец секции about ---*/

/*--- Начало секции portfolio ---*/

.portfolio__inner {
  background-color: #eaeaea;
}

.portfolio__content-title {
  margin-bottom: 50px;
  padding-top: 95px;
}
.menu__list_portfolio {
  width: 315px;
  margin: 0 auto 134px;
}
.box {
  margin-bottom: 65px;
}
.box__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 363px;
  grid-row-gap: 19px;
  grid-column-gap: 26px;
}
.box__item {
  background-color: #000;
}

.portfolio__btn {
  margin: 0 auto;
}

.portfolio__btn-link {
  color: #000;
  border: 1px solid;
  cursor: pointer;
}

/*--- Конец секции portfolio ---*/
